<div local-class="link" ...attributes>
  <div local-class="left">
    <a href={{@link}} target="_blank">
      <div local-class="title">{{@title}}</div>
    </a>
    <a href={{@crate_link}} target="_blank">
      <div local-class="subtitle">{{@crate_name}}</div>
    </a>
  </div>
</div>